<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>30163330008-8s44eepgbj4n1vk9sk8v84c9i3191fmi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.30163330008-8s44eepgbj4n1vk9sk8v84c9i3191fmi</string>
	<key>API_KEY</key>
	<string>AIzaSyBnf-ZV7TDzPk6UrbbXirOMQj8HaY6TQIg</string>
	<key>GCM_SENDER_ID</key>
	<string>30163330008</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>yize-chatapp</string>
	<key>STORAGE_BUCKET</key>
	<string>yize-chatapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:30163330008:ios:c24a0effbb4d2fad0248ad</string>
</dict>
</plist>